html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#sidebar {
    width: 25%;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.controls {
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid black;
}

#map {
    width: 75%;
    height: 100%;
}

#placesList {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

#placesList li {
    margin: .5em;
    margin-bottom: 1em;
    cursor: pointer;
    border: 1px solid gray;
}

#placesList li:hover {
    text-decoration: underline;
    color: blue;
}

#placesList img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.summary {
    display: none;
    margin-top: .25em;
}