img{
    width:100px;
    border:1px solid black;
    height:100px;
}

body{
font-size: 16px;
color:blue;
}

h1{
font-size: 1.5em;
font-size: 2rem;
font-size: 200%;
}

#womensShoes{
border:3px dashed brown;

}

.shoeTitle{
font-style: italic;

}