body{
    background-color: rgb(28, 163, 163);
    max-width: 1000px;
    margin:auto;
}
h1{
    font-size: 40px;
    text-align: center;
    font-style: oblique;
    color:gold;
}
a{
    text-decoration:none; 
    color: red;
}

img{
    border: gold solid 3px;

}
h2{
    color:gold;
    text-align: center;
}
h3{
    color:gold;
    text-align: center;
}
header{
margin-top: 4em;
text-align: center;
}
/* index classes*/
.pics{
    text-align: center;
}
.words a{
   
    
    margin-left:100px;
    margin-right: 100px;
}
.words {
    text-align:center;

}

#menu {
    text-align: center;
   
}
#menu img{
    text-align: center;
    height: 150px;
}

.indexHeader li{
   width:8em;
    border:2px solid yellow;
    padding:2em;
    display: inline;
    list-style-image: url("images/Capture.PNG");
}
.indexHeader nav img{
    float:left;
height:40px;
border:none
}
/* menu page css*/
.contents{
float:left;
width:20%;
padding:5px;

box-sizing: border-box;

}
.contents img{
     width:100%;
    height:150px;
}
.contents img:hover{
   width: 150%;
   height:250px;
   
}