body{
    background-color: aqua;

}
h1{
    font-size: 40px;
    text-align: center;
    font-style: oblique;
    color:gold;
}
a{
    text-decoration:none; 
    color: red;
}
.pics{
    text-align: center;
}
img{
    border: gold solid 3px;

}


.words a{
   
    
    margin-left:100px;
    margin-right: 100px;
}
.words {
    text-align:center;

}
h2{
    color:gold;
    text-align: center;
}
h3{
    color:gold;
    text-align: center;
}
#menu {
    text-align: center;
   
}
#menu img{
    text-align: center;
    height: 150px;
}
.contents{
float:left;
width:20%;
padding:5px;

box-sizing: border-box;

}
.contents img{
     width:100%;
    height:150px;
}
.contents img:hover{
   width: 150%;
   height:250px;
   
}